server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

analytics:
  reporting_enabled: false

limits_config:
  ingestion_rate_mb: 8
  ingestion_burst_size_mb: 16
  allow_structured_metadata: false

querier:
  query_ingesters_within: 2h

query_scheduler:
  max_outstanding_requests_per_tenant: 100

frontend:
  max_outstanding_per_tenant: 100

