version: '3.8'

services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./config.d:/etc/clickhouse-server/config.d
      - ./users.xml:/etc/clickhouse-server/users.xml
      - ./macros.xml:/etc/clickhouse-server/macros.xml
      - clickhouse_data:/var/lib/clickhouse
    environment:
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=
    networks:
      - clickhouse_network

volumes:
  clickhouse_data:

networks:
  clickhouse_network:
    driver: bridge
